.App {
    margin: 0;
    padding: 0;
}

.img {
    max-height: 78px;
    max-width: 180px;
    margin-top: 40px;
    margin-left: 44%
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 253px;
}

.title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}

.input {
    background-color: #F5F5F5;
    width: 640px;
    height: 60px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
.inputError{
    background-color: #F5F5F5;
    width: 640px;
    height: 60px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid red;
    color: red;
}
.inputError:focus{outline-color: red}

.errorMessageInput{
    background-color:#F5E9E9;
    width: 640px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid red;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.errorMessage {
    padding-left: 20px;
    font-size: 16px;

}

.button {
    width: 640px;
    height: 60px;
    background: #4A67FF;
    border-radius: 8px;
    border: none;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 20px;
}
.disableButton{
    width: 640px;
    height: 60px;
    background: red;
    border-radius: 8px;
    border: none;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 20px;
}

.error {
    color: #E26F6F;
    margin-bottom: 20px;
    margin-top: -10px;
}

.profile {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grayButton {
    width: 200px;
    height: 60px;
    background: #F5F5F5;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: #fff;
    border: 1px #000 solid;
    margin-right: 15px;
    border-radius: 2px;
     cursor: pointer;
}

.checkbox--active {
    border-color: #000;
    background: #4A67FF;
}

